<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE template SYSTEM "template.dtd">

<template>
    <askcontainer>1</askcontainer>
    <description>New Unprivileged User Account</description>
    <icon>ldap-user.png</icon>
    <invalid>0</invalid>
    <rdn>uid</rdn>
    <title>Unprivileged User Account</title>
    <visible>1</visible>

    <objectClasses>
        <objectClass id="person"></objectClass>
        <objectClass id="organizationalPerson"></objectClass>
        <objectClass id="inetOrgPerson"></objectClass>
    </objectClasses>

    <attributes>
        <attribute id="givenName">
            <display>First name</display>
            <icon>ldap-uid.png</icon>
            <onchange>=autoFill(cn;%givenName% %sn%)</onchange>
            <onchange>=autoFill(uid;%givenName/l%.%sn/l%)</onchange>
            <order>1</order>
            <page>1</page>
        </attribute>
        <attribute id="sn">
            <display>Last name</display>
            <onchange>=autoFill(cn;%givenName% %sn%)</onchange>
            <onchange>=autoFill(uid;%givenName/l%.%sn/l%)</onchange>
            <order>2</order>
            <page>1</page>
        </attribute>
        <attribute id="mail">
            <display>Email Address</display>
            <icon>ldap-email.png</icon>
            <order>3</order>
            <page>1</page>
        </attribute>
        <attribute id="userPassword">
            <display>Password</display>
            <icon>lock.png</icon>
            <order>4</order>
            <page>1</page>
            <post>=php.PasswordEncrypt(%enc%;%userPassword%)</post>
            <spacer>1</spacer>
            <verify>1</verify>
        </attribute>
        <attribute id="cn">
            <display>Common Name (auto generated)</display>
            <hint>you probably want the default value</hint>
            <order>6</order>
            <page>1</page>
        </attribute>
        <attribute id="uid">
            <display>Username (auto generated)</display>
            <onchange>=autoFill(homeDirectory;/home/admin/%uid%)</onchange>
            <order>7</order>
            <page>1</page>
            <spacer>1</spacer>
        </attribute>

    </attributes>

</template>
