<?php
#==============================================================================
# Configuration
#==============================================================================
# LDAP
$ldap_url = "ldap://{{ auth_ldap_master }}";
$ldap_binddn = "uid=passwordreset,ou=SpecialUsers,{{ auth_ldap_basedn }}";
$ldap_bindpw = '{{ auth_ldap_resetuser_pw }}';
$ldap_base = "{{ auth_ldap_basedn }}";
$ldap_login_attribute = "uid";
$ldap_fullname_attribute = "cn";
$ldap_filter = "(&(objectClass=inetorgperson)($ldap_login_attribute={login}))";

# Active Directory mode
$ad_mode = false;
$samba_mode = false;

# Shadow options - require shadowAccount objectClass
# Update shadowLastChange
$shadow_options['update_shadowLastChange'] = false;

$hash = "clear";

# Local password policy - match this to the LDAP policy for the best user experience
$pwd_min_length = 6;
$pwd_max_length = 0;
$pwd_min_lower = 0;
$pwd_min_upper = 0;
$pwd_min_digit = 0;
$pwd_min_special = 0;

$pwd_special_chars = "^a-zA-Z0-9";
$pwd_forbidden_chars = "@%";
$pwd_no_reuse = true;

# Complexity: number of different class of character required
$pwd_complexity = 3;

$pwd_show_policy = "always";
$pwd_show_policy_pos = "above";

# Who changes the password?
# Also applicable for question/answer save
# user: the user itself
# manager: the above binddn
$who_change_password = "manager";

$use_questions = false;
$use_sms = false;

# Answer attribute should be hidden to users!
$answer_objectClass = "extensibleObject";
$answer_attribute = "info";

# Extra questions (built-in questions are in lang/$lang.inc.php)
#$messages['questions']['ice'] = "What is your favorite ice cream flavor?";

## Token
$use_tokens = true;
$crypt_tokens = true;
$token_lifetime = "3600";

## Mail
$mail_attribute = "mail";
$mail_from = "{{ noreply_email }}";

$notify_on_change = true;

$show_help = true;
$lang ="en";
$logo = "logo.png";

# Debug mode
$debug = false;

# Encryption, decryption keyphrase
$keyphrase = "9tusXAA7;+Vf";

# Where to log password resets - Make sure apache has write permission
# By default, they are logged in Apache log
#$reset_request_log = "/var/log/self-service-password";

# Invalid characters in login
# Set at least "*()&|" to prevent LDAP injection
# If empty, only alphanumeric characters are accepted
$login_forbidden_chars = "*()&|";

## CAPTCHA
# Use Google reCAPTCHA (http://www.google.com/recaptcha)
# Go on the site to get public and private key
$use_recaptcha = false;
$recaptcha_publickey = "";
$recaptcha_privatekey = "";
# Customize theme (see http://code.google.com/intl/de-DE/apis/recaptcha/docs/customization.html)
# Examples: red, white, blackglass, clean
$recaptcha_theme = "white";
# Force HTTPS for recaptcha HTML code
$recaptcha_ssl = false;

## Default action
# change
# sendtoken
# sendsms
$default_action = "change";

## Extra messages
# They can also be defined in lang/ files
#$messages['passwordchangedextramessage'] = NULL;
#$messages['changehelpextramessage'] = NULL;

?>